/* ---- ALL SELECTOR TO AID POSITIONING ---- */

/** {
    border: 1px solid;
}*/

/* ---- COLORS ---- */

/*  
Placeholder set (if in doubt, use #fff for white and #000 for black and we'll update later)
    262626 Dark Grey
    767171 Grey
    D0CECE Pale Grey
*/

/* ---- MOBILE FIRST ------ */

.title {
    font-family: f;
    text-align: center;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
}


/* -- Nav Bar -- */
.nav-bar {
    background-color: black;
    min-width: 100%;
    min-height: 5%;
    position: fixed; bottom: 0;
    
}

/* - Nav Bar Toggle - */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.image-title {
    font-family: f;
}

.image-title, img {
    max-width: 100%;
    height: auto;
}

/* ---- Tablets ------ */
@media (min-width:768px) {
    



}


/* ---- Desktop ------ */
@media (min-width:1024px) {
    
    

}