


/* ---- MOBILE FIRST ------ */

.title {
    font-family: f;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #262622;
    color: #D0CECE;
    margin-bottom: 0px;
    font-size: xx-large;
}

h2 {
    text-align: center;
}

.nav-bar {
    background-color: black;
    min-width: 100%;
    min-height: 5%;
    position: fixed; bottom: 0;
    
}

.image-title {
    font-family: f;
}

.image-title, img {
    max-width: 100%;
    height: auto;
}

/* ----- Header nav ----- */

.head-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #262622;
}

.head-nav a {
    color: #D0CECE;
}

.nav-toggle {
    list-style-type: none;
}



/* ---- Tablets ------ */
@media (min-width:768px) {
    



}


/* ---- Desktop ------ */
@media (min-width:1024px) {
    
    

}