


/* ---- MOBILE FIRST ------ */

.title {
    font-family: f;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
}

.nav-bar {
    background-color: black;
    min-width: 100%;
    min-height: 5%;
    position: fixed; bottom: 0;
    
}

.image-title {
    font-family: f;
}

.image-title, img {
    max-width: 100%;
    height: auto;
}

.head-nav {
    text-align: center;
}

.head-nav ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    
       
}

.head-nav li {
    list-style: none;
    margin: 10px;
}




/* ---- Tablets ------ */
@media (min-width:768px) {
    



}


/* ---- Desktop ------ */
@media (min-width:1024px) {
    
    

}