


/* ---- MOBILE FIRST ------ */

.title {
    font-family: f;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #262622;
    color: #D0CECE;
    margin-bottom: 0px;
    font-size: xx-large;
}

h2 {
    text-align: center;
}

.nav-bar {
    background-color: black;
    min-width: 100%;
    min-height: 5%;
    position: fixed; bottom: 0;
    
}

.image-title {
    font-family: f;
}

.image-title, img {
    max-width: 100%;
    height: auto;
}

/* ----- Header nav ----- */

.head-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #262622;
}

.head-nav a {
    color: #D0CECE;
}

.nav-toggle {
    list-style-type: none;
}

/* ------- Contact Form ---------*/

.form-title {
    color: #fafafa;
    margin-bottom: 20px;
}

#signup-form {
    padding: 10%;
    flex-grow: 1;
}


#contact-form {
    color: #fafafa;
    background-color: #767176;
    padding: 30px;
}


.text-input {
    background-color: #fafafa;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #D0CECE;
    border-radius: 2px;

}


.radio-dial {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

textarea {
    resize: vertical;
}

#message {
    height: 100px;
}

.first-last-name {
    max-width: 300px;
}




/* ---- Tablets ------ */
@media (min-width:768px) {

    #signup-form {
        align-content: center;
    }
    
    #contact-form {
        width: 85%;
        max-width: 600px;
        margin: 0 auto;
    } 


}

/* ---- Desktop ------ */
@media (min-width:1024px) {
    
    

}